.oxygen-journal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.oxygen-journal > .oxygen-entry {
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(50% - 4rem);
}

.oxygen-entry > h3 {
    margin-bottom: 0;
}

.oxygen-entry > .task {
    margin-top: 0.5rem;
}

.oxygen-entry > .cooldown {
    margin-top: 0.5rem;
    font-weight: bold;
}

.oxygen-entry > .addendum {
    margin-top: 0.5rem;
}

.cooldown.on-cooldown {
    color: #ff8363;
}

.cooldown.off-cooldown {
    color: #4ae0a0;
}

h3.on-cooldown {
    color: #bb6666;
}

h3.off-cooldown {
    color: #13945d;
}
