.topBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 89;
}

.inventory {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 740px;
    height: 90px;
    background-color: rgba(0,0,255,0.5);
}

.timers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 284px;
    height: 90px;
    background-color: rgba(0,255,0,0.5);
}