.topBar {
    display: flex;
}

.inventory {
    display: flex;
    width: 740px;
    height: 90px;
    background-color: blue;
}

.timers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 288px;
    height: 90px;
    background-color: green;
}