.topBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 89;
    background-color: #44444480;
}

.inventory {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 738px;
    height: 90px;
    border-right: 2px solid black;
    overflow: auto;
    flex-wrap: wrap;
}

.timers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 284px;
    height: 90px;
}
