.onActionPopup {
    position: relative;
    left: 157px;
    top: 170px;
    width: 710px;
    background-color: #4d96c3;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 30px 0 45px 0;
}

.onActionBackgroundShroud {
    position: absolute;
    z-index: 189;
    left: 0;
    top: 0;
    width: 1024px;
    height: 607px;
    background-color: #44444460;
}

.priorityLayer {
    z-index: 1299;
}

.normalLayer {
    z-index: 299;
}

.onActionPopup button {
    background-color: #b66;
    border: 0px;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 16px;
    color: black;
    margin: 10px;
    cursor: pointer;
}

.status {
    margin: 10px;
}

.popupText {
    position: relative;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    top: 20px;
}
