.action {
    position: absolute;
    width: 140px;
    height: 44px;
    color: #4ae0a0;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enabled {
    background-color: #94332280;
    border: 1px solid #ff836e;
    color: #4ae0a0;
    cursor: pointer;
}

.disabled {
    background-color: #66666680;
    border: 1px solid #222222;
    color: #bbbbbb;
}
