.action {
    position: absolute;
    width: 133px;
    height: 39px;
    background-color: #94332280;
    border: 1px solid #FF836E;
    color: #4AE0A0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}