.action {
    position: absolute;
    width: 133px;
    height: 39px;
    background-color: #94332280;
    border: 1px solid #ff836e;
    color: #4ae0a0;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
