.travelPopup {
    position: absolute;
    z-index: 199;
    left: 157px;
    top: 120px;
    width: 710px;
    height: 366px;
    background-color: #4d96c3;
    color: black;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.backgroundShroud {
    position: absolute;
    z-index: 189;
    left: 0;
    top: 0;
    width: 1024px;
    height: 607px;
    background-color: #44444460;
    cursor: pointer;
}

.travelButton {
    background-color: #b66;
    border: 0px;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.hidden {
    display: 'none';
}

.visible {
    display: '';
}
